
.pagination_div {
    display: flex;
    gap: 1rem;
    align-items: center;

    margin-block: 1rem;
    padding: 1rem;

    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 1rem;
    
    > .middle_splitter {
        width: 100%;
    }

    a, Link {
        padding: 0.75rem 1rem;

        border-radius: 1rem;
        background-color: black;
        color: white;

        font-size: 1.2rem;
        font-weight: 600;
        text-wrap: nowrap;

        &:hover, &:focus-visible {
            color: cornflowerblue;
        }
    }
}

.pages {
    margin-block: 1rem;

    font-size: 1.2rem;
    font-weight: 700;
}