
.h1 {
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;
    line-height: 1;
    margin-block: 1.5rem;
}

.p {
    margin-inline: 3rem;
    margin-block-end: 1rem;
}