
.margin {
    margin-inline: 1rem;
}

.h1 {
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center;
    text-wrap: balance;
    line-height: 1;
    margin-block: 1.5rem;
}

.h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-block: 1.5rem;
}

.h3 {
    font-size: 2rem;
    font-weight: 700;

    > span {
        font-weight: 500;
        font-style: italic;
    }
}

.ul {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    > li {
        background-color: aliceblue;
        border: 2px solid black;
        border-radius: 1rem;
        padding: 1rem;
    }

    img {
        max-width: 25rem;
        max-height: 22rem;
    }
}