
.header {
    background-color: black;
    padding: 1rem;

    color: white;
}

.nav_link {
    margin-inline: 0.5rem;
    font-weight: 600;

    &:hover, &:focusactive {
        color: cornflowerblue;
    }
}